body {
    background-image: url(/full-bloom/full-bloom.png);
}

.flex-container1 {
    background:#ffffff;
    height: 70px;
    margin: 0 0;
    padding: 0;
    display:flex;
    justify-content: space-around;
   
}


#navigation {
   
    background: red;
    width: 200px;
    text-align: center;

 }
 
 #annavu {
    
     background:#4aaaa5;
     text-align: center;
     width: 400px;
     float: right;
 }

.flex-container2 {
    background: #ffffff;
    margin: 100px 200px;
    height: 400px;
    width: 960px;
}

#aboutme {
    background: lightgrey;
    color: #4aaaa5;
    font-weight: bold;
    margin: 40px 0;
    font-size: 35px;
    border-bottom: 5px solid grey;
    height: 70px;
    vertical-align: middle;
}

#image {
    background: #ffffff;
    float: left;
    padding: 15px 25px;
}

#paragraph {
    background:#ffffff;
    text-align: left;
    color:#777777;
    padding: 25px 25px;
}

.footer {
    background:grey;
    text-align: center;
    height: 60px;
    border-top: 5px solid #4aaaa5 ;
}