html {
    background: #4aaaa5;
}

body {
    background-image: url(/full-bloom/full-bloom.png);
    position: relative;
    top: 0;
    position: relative;
}

header {
    background:#ffffff;
    position: sticky;
    overflow:auto;
    top: 0;
  
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    float: right;
    margin: 10px;
    justify-content: center;
    color: lightgrey;
}

li {
    float: left;

    /*Remove the bullet point*/
    list-style: none;

    padding: 5px;
    
}

.rightborder {
    border-right: 2px solid gray;
}

#navigation {
   
    background: red;
    width: 200px;
    justify-content: center;

 }
 
 #annavu {
    
     background:#4aaaa5;
     text-align: center;
     width: 400px;
     float: right;
 }

.flex-container2 {
    background: #ffffff;
    margin: 100px 200px;
    height: 400px;
    width: 960px;
}

.aboutme {
    color: #4aaaa5;
    justify-content: center;
}

#paragraph {
    background:#ffffff;
    text-align: left;
    color:#777777;
    padding: 25px 25px;
}


footer {
    background:grey;
    height: 60px;
    border-top: 5px solid #4aaaa5;
}

.footer {

    padding-bottom: 10px;
    text-align: center;

}
